/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.06.2014, 19:22:20
    Author     : Tomato
*/

.addBookmark {
    float: left;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.miniBookmark img {
    margin-top: 10px;
    margin-left: 1px;
}

.clickOntoBookmark {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    height: 100px;
    width: 500px;
    background-color: white;
    float: left;
    border-style: groove;
    margin-bottom: 10px;
    border-width: 2px;
    border-top-left-radius: 50px;
    border-left-style: inset;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.littleBookmarkImage {
    float: left;
    width: 90px;
}

.littleBookmarkImage img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 15px;
}

.littleBookmarkContent {
    padding-top: 20px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.BookmarksHover {
    display: none;
    background: #E5E5E5;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
    margin-left: -200px;
    width: 520px;
    -webkit-border-radius: 3px;

    border-style: groove;
}
.bookDate {
    float: right;
    color: gray;
    font-size: smaller;
    padding-top: -20px;
    margin-top: -20px;
    margin-right: 20px;
}

.littleBookmarkTeaser {
    margin-right: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.RemoveBookmarkCross {
    float: right;
    background: no-repeat url(https://ssl.gstatic.com/s2/oz/images/sprites/notsg-a7af8b0efa4566ea1e9b98ed49df0b2e.png) 0 -182px;
    height: 16px;
    width: 16px;
}