

.clock {
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background: lightgray;
}

.clockLabel {
    float: left;
    width: 300px;
}



.slider-clock {
    margin-left: 50px;
    margin-top: 3px;
}

