.divSecond
{
    position:relative;
    left:44px;
    top:61px;
}
.divMinute
{
    position:relative;
    left:0px;
    top:-120px;
}
.btn.blue 
{
    color: white;
    text-shadow: none;
    background-color: #4d90fe;
}

.clockbtn 
{
    text-align: center;
    border-width: 0;
    padding: 2px 2px; 	
    font-size: 14px;  
    outline: none !important;
    text-shadow: none;  
    width:150px;
    height:25px;
    color: white;
    text-shadow: none;
    background-color: #4d90fe;    
}

.topclock
{
    position:relative;
    left: 175px;
    top:-350px;
}


.bottomclock
{
    position:relative;
    left: 25px;
    top:-150px;
}