
.clock {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background: #db4437;
    position: fixed;
    z-index: 333;
    left: 310px;
    right: 140px;
    color: white;
    top: 50px;
}

.clockLabel {
    float: left;
    width: 300px;
}

.slider-clock {
    margin-left: 70px;
    margin-top: 3px;
}

[jsname="rymPhb"] {
    padding-top: 20px;
}

