.thumbnail.selected {
    border: solid;
    border-color: #d05454;
}

.ticketTable {
    width: 840px;
    border-style: solid;
    border-width: 1px;
}

.ticketDetails {
    display:none;
    width:400px;
   
}
.ticketTable td {
    padding-left: 3px;
}

.ticketTable th {
    padding-left: 3px;
}

.singleTicketPost {
    background: lightgrey;
    
    float: left;
    padding-top: 2px;
    margin-top: 4px;
    margin-left: 30px;
    width: 700px;
    padding-left: 6px;
}

.singleTicketPost span.username {
    font-weight: bold;

    float: left;
}

.singleTicketPost span.date {
    float: left;
    width: 150px;
}

.singleTicketPost .body {
    clear: both;
}

.weatherSelection {
    clear: both;
    float: left;
    margin-left: 20px;
}

.weatherSelection input[type="text"] {
    width: 300px;
    margin-left: 20px;
    margin-right: 10px;
}

.weatherSelection span {
    width: 50px;
    float: left;
}

.citySelect {
    margin-left: 70px;
    display:none;
}

.citySelect select {
    width: 300px;
}

.addNewTicket div {
    padding-top: 2px;
}

.addNewTicket {
    position: absolute;
    top: 50px;
    background: #3D3D3D;
    left: 120px;
    width: 540px;
    height: 440px;
    padding: 20px;
    color: #d9d9d9;
    display:none;
    
}

input#ticketUser {
    width: 500px;
    color: black;
}

.buttonYo {
    padding-top: 0px !important;
}

.buttonYo {
    float: right;
}

.addNewTicket a {
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    color: #d9d9d9;
    width: 120px;
    float: left;
}

.addNewTicket a:hover {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    width: 120px;
    float: left;
}


.addNewTicket .caption {
    width: 200px;    
}



.addNewTicket select#ticketType {
    width: 500px;
    color: black;
}

.addNewTicket input#ticketSubject {
    width: 500px;
    color: black;
}

.addNewTicket textarea#ticketContent {
    width: 500px;
    height: 200px;
    color: black;
}

.buttonYo a {
    margin-left: 20px;
}