.thumbnail.selected {
    border: solid;
    border-color: #d05454;
}

.ticketTable {
    width: 840px;
    border-style: solid;
    border-width: 1px;
}

.ticketDetails {
    display:none;
    width:400px;
   
}
.ticketTable td {
    padding-left: 3px;
}

.ticketTable th {
    padding-left: 3px;
}

.singleTicketPost {
    background: lightgrey;
    
    float: left;
    padding-top: 2px;
    margin-top: 4px;
    margin-left: 30px;
    width: 700px;
    padding-left: 6px;
}

.singleTicketPost span.username {
    font-weight: bold;

    float: left;
}

.singleTicketPost span.date {
    float: left;
    width: 150px;
}

.singleTicketPost .body {
clear: both;
}