/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.08.2014, 16:56:39
    Author     : Tomato
*/

#quickht {
    position: absolute;
    left: 5px;
    top: 120px;
    background: white;
    padding: 5px;
    overflow: scroll;
}

.langSelect {

}

.langOpen {
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 8px;
}

.InfoUsrTop {
    float: right;
    margin-top: -15px;
    margin-right: 5px;
}

.langAll {
    z-index: 920;
    display: none;
    position: absolute;
    top: 60px;
    width: 100px;
    left: 8px;
}

.langAll img {
    margin-top: -20px;
    margin-left: 2px;
}