.trophyRow {
    min-height: 100px;
}

.trophyGold {
    background-image: url(../images/trophygold.png);
    background-repeat: no-repeat;
    padding-left: 90px;
}

.trophySilber {
    background-image: url(../images/trophysilver.png);
    background-repeat: no-repeat;
    padding-left: 90px;
}

.trophyBronze {
    background-image: url(../images/trophybronze.png);
    background-repeat: no-repeat;
    padding-left: 90px;
}

.badge {
    background-color: #333333;
    border: 1px solid #4387fd;
    margin: 0 3px 3px 0;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    font: normal 13px Roboto, arial, sans-serif;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 4px;
    height: 22px;
}

.trophyImg {
    cursor:pointer;
}

.gold {
    background-image: url(../images/gold.png);
    color: #FFCC00;
}

.silber {
    background-image: url(../images/silber.png);
    color: #C5C5C5;
}

.bronze {
    background-image: url(../images/bronze.png);
    color: #CC9966;
}

.moredetails {
    text-align: right;
    margin-top: 4px;
}