
table.colorUsers {
    table-layout: fixed;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

table.colorUsers td {
    text-align: center;
    cursor: pointer;
}

table.colorUsers tr {
    height: 20px;
}

.userRemark {
    display: none;
    width: 99%;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    margin-right: 100px;
    height: 25px;
    margin-bottom: 20px;
}

