
table.colorUsers {
    table-layout: fixed;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

table.colorUsers td {
    text-align: center;
}

table.colorUsers td.usrBlue {
    background-color: #76a7fa;
}

table.colorUsers td.usrYellow {
    background-color: #fbcb43;
}

table.colorUsers td.usrRed {
    background-color: #e46f61;
}

table.colorUsers td.usrCyan {
    background-color: #4dbfd9;
}

table.colorUsers td.usrGreen {
    background-color: #8cc474;
}

table.colorUsers td.usrMagenta {
    background-color: #bc5679;
}

.userRemark {
    display: none;
    width: 99%;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    margin-right: 100px;
    height: 25px;
    margin-bottom: 20px;
}

