.gPlusWizard {
    position: absolute;
    left: 50%;
    top: 120px;
    background: white;
    z-index: 666;
    -moz-box-shadow: 0 8px 8px #000;
    -webkit-box-shadow: 0 8px 8px #757575;
    padding: 30px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 18px;
    transform: translate(-50%);
}

.gPlusWizard p {
    text-align: justify;
}

#wizardClose {
    color: #4285f4;
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}