

.container {
    font: normal 13px Roboto,arial,sans-serif;
    position: absolute;
    //left: 640px;
    top: 20px;
    border-style: solid;
    border-width: 1px;
    width: 980px;
    z-index: 2500;
    background-color: white;
}

.wizBottom {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 420px;
    overflow: auto;
    
}

.spam {
    width:960px;
    height:250px;
    position:absolute;
    top:550px;
    z-index: 2502;
    border-style: solid;
    border-width: 1px;
    display: none;
}

.trophyDiv {
    border-style: solid;
    border-width: 1px;
    position: relative;
    left:-240px;
    top:-250px;
    background-color: lightgoldenrodyellow;
    padding-left:5px;
    padding-top: 5px;
    display:none;
}

.trophyDivWhy {
    border-style: solid;
    border-width: 1px;
    position: relative;
    left:-240px;
    top:-300px;
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    display:none;
    z-index: 3000;
    font-size: 12px;
}

.wizHeader {
    background-color: #407cef;
    color: #fff;
    height: 30px;
    padding: 27px 32px 32px;
    text-align: center;
}

.wizardImage {
    width:460px;
    float:left;
}
.wizardImage img {
    border-style:  solid;
    border-width: 1px;
    border-color: #d8d8d8;
}
.wizardRight {
    width: 470px;
    float:right;
    padding-top: 20px;
}

.wizButtons {
    position:absolute;
    top:25px; right:10px;
}
.wizActive {
    float:right;
    color:#404040;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 16px;
    height: 28px;
    line-height: 28px;
    min-width: 54px;
    outline: 0;
    text-decoration: none;
    outline:none;
    background-color: white;

}
.wizActive:hover {
    border-color: #404040;
    outline:none;
}
.wizButton {
    color:#404040;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 16px;
    height: 28px;
    line-height: 28px;
    min-width: 54px;
    outline: 0;
    text-decoration: none;
    outline:none;
    background-color: white;
}
.wizButton:hover {
    border-color: #404040;
    outline:none;  
}


.wizInactive {
    float:right;
    color:#d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 16px;
    height: 28px;
    line-height: 28px;
    min-width: 54px;
    outline: 0;
    text-decoration: none;
    cursor:default;
    outline:none;
    background-color: white;
}
.wizardContainer {
    display:none;
}


.fakeLink {
    color: #427fed;
    //cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}